@import "./../variables";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $nav-height;
  z-index: 998;
  img {
    &.hidden {
      opacity: 0;
    }
  }
  .nav-links {
    @include respond(768) {
      display: none;
    }
    @include navText();
    display: flex;
    gap: 2.5rem;
    a:not(.btn) {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -7px;
        left: 0;
        background-color: $col-purplepink;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::after {
        transform: scale(1);
        transform-origin: bottom left;
      }
    }
    .btn {
      padding: 7px 12x;
    }
  }
}
