@import "./../variables";
@import "./../shared";

.our-classes-section {
  display: flex;
  flex-direction: column;
  gap: $section-col-gap;
  .btn {
    margin-top: 2rem;
    align-self: center;
  }
  .gym-classes-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .class-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .img-container {
        position: relative;
        object-fit: cover;
        img {
          object-fit: cover;
        }
      }
      h3 {
        margin-top: 2rem;
      }
      h4 {
        font-weight: 200;
        font-size: 1.3rem;
        color: $col-offwhite-100;
      }
    }
  }
}
