@import "./../variables";
@import "./../shared";

.our-classes-section {
  display: flex;
  flex-direction: column;
  gap: $section-col-gap;
  margin-top: $section-margin-top;
  .btn {
    margin-top: 2rem;
    align-self: center;
  }
  .gym-classes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;

    .class-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .img-container {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        img {
          @include bordered-img();
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.1) rotate(1deg);
          }
        }
      }
      .subheading {
        margin: 2rem 0 0.8rem;
      }
      p {
        font-weight: 200;
        font-size: 1.3rem;
        line-height: 1.2;
        color: $col-offwhite-100;
      }
    }
  }
}
