@use "./../variables";

.hero-section {
  background-image: url("/hero-img.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  transform: translateY(-$nav-height);
  padding-top: $nav-height;

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 40%;
    h4 {
      font-size: 3rem;
      line-height: 1;
      font-weight: 400;
    }
    span {
      color: $col-purplepink;
    }
    .btn {
      margin-top: 2rem;
    }
  }
}
