@import "./../variables";
.reviews-section {
  margin-top: $section-margin-top;
  display: flex;
  flex-direction: column;
  gap: $section-col-gap;
  .reviews-top-section {
    background-color: $col-dark-purple-300;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviews-summary {
    .img-container {
      height: 4rem;
      width: 10rem;
      position: relative;
      img {
        object-fit: contain;
      }
    }
  }
}
//REVIEW BUBBLE
.reviews-container {
  @include respond(670) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  .review-bubble {
    @include respond(670) {
      width: 100%;
    }
    background-color: $col-dark-purple-100;
    height: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    z-index: 5;
    animation: mini-bounce 8s infinite var(--delay);
    &::before {
      @include respond(670) {
        display: none;
      }
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: auto;
      top: auto;
      bottom: 0;
      transform: translateY(50%);
      border: 20px solid;
      border-color: transparent transparent transparent $col-dark-purple-100;
    }
    .rating {
      margin-bottom: 1rem;
    }
    h7 {
      color: $col-offwhite;
    }
    p {
      color: $col-offwhite-100;
      font-size: 1.3rem;
    }
    @keyframes mini-bounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-8px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
