@import "./../variables";

.sidenav-container {
  @include respondLarger(768) {
    display: none;
  }
  background-color: $col-dark-purple-100;
  height: 100vh;
  width: 40rem;
  max-width: 70%;
  padding: 10rem 3rem 2rem 3rem;
  margin-left: auto;
  transform: translateX(100%);
  transition: transform 0.1s ease;
  &.animate-in {
    transform: translateX(0);
    backdrop-filter: blur(50px);
  }
  .sidenav-links-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;
    .sidenav-links {
      @include navText();
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 2rem;
      align-items: flex-end;
      .socials {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        animation-delay: 0.7s;
        .subheading {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          text-align: right;
        }
      }
      li {
        opacity: 0;
        animation: reveal 0.7s ease forwards;
      }
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
